{{#compare total '==' 0}}
<div class="alert alert-warning">
	<p>Couldn't find that xid</p>
</div>
{{/compare}}

{{#each results}}
	<div class="mw-goodhq-result" id="mw-goodhq-result-{{Id}}">
		<a href="https://goodhq.org/{{Id}}">
			<strong>{{name}}</strong>
		</a>
	</div>
{{/each}}
