<div class="mw-navigation v-padding">
    <button type="button" class="btn btn-default mw-back-to-results" id="mw-{{name}}-back-to-results">
        <i class="fa fa-fw fa-chevron-left"></i>
        Back to results
    </button>

    <nav class="row mw-paging">
        <div class="col-sm-6">
            <button class="btn mw-previous" type="button">
                Previous
            </button>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn mw-next" type="button">
                Next
            </button>
        </div>
    </nav>
</div>