<div class="mw-navigation v-padding">
    <nav class="row mw-document-nav">
        <div class="col-sm-6">
            <button type="button" class="btn btn-default mw-back-to-results" id="mw-{{name}}-back-to-results">
                <i class="fa fa-fw fa-chevron-left"></i>
                Back to results
            </button>
        </div>
        <div class="col-sm-6 text-right">
            <button type="button" class="btn btn-default mw-print" id="mw-{{name}}-print">
                Print
                <i class="fa fa-fw fa-print"></i>
            </button>
        </div>
    </nav>

    <nav class="row mw-paging">
        <div class="col-sm-6">
            <button class="btn mw-previous" type="button">
                <i class="fa fa-fw fa-chevron-left"></i>
                Previous
            </button>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn mw-next" type="button">
                Next
                <i class="fa fa-fw fa-chevron-right"></i>
            </button>
        </div>
    </nav>
</div>