<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Voluntary Opportunities Search
		</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-7">
				<div class="form-group">
					<label for="mw-opportunities-query" class="control-label">Query: </label>
					<input type="text" id="mw-opportunities-query" class="form-control" data-bind="QueryString" />
				</div>
			</div>
			<div class="col-sm-5">
				<div class="form-group">
					<label for="mw-opportunities-distance" class="control-label">Distance from your postcode: </label>
					<div class="input-group">
						<select id="mw-opportunities-distance" class="form-control" data-bind="Distance">
							<option value="0">within ..</option>
							<option value="1">1 mile</option>
							<option value="3">3 miles</option>
							<option value="5">5 miles</option>
							<option value="10">10 miles</option>
							<option value="15">15 miles</option>
							<option value="30">30 miles</option>
							<option value="50">50 miles</option>
							<option value="75">75 miles</option>
							<option value="100">100 miles</option>
							<option value="1000">Nationwide</option>
						</select>
						<label for="mw-opportunities-user-postcode" class="input-group-addon">of</label>
						<input type="text" id="mw-opportunities-user-postcode" class="form-control" data-bind="UserPostcode" placeholder="enter your home postcode"
						/>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<label for="mw-opportunities-activity" class="control-label">Activities</label>
				<select id="mw-opportunities-activity" class="form-control" data-bind="Activity">
					<option value="">-- Select Activity --</option>
					{{#each terms.workType}}
						<option value="{{term}}">{{term}}</option>
					{{/each}}
				</select>
			</div>
			<div class="col-sm-6">
				<label for="mw-opportunities-client-group" class="control-label">Client Groups</label>
				<select id="mw-opportunities-client-group" class="form-control" data-bind="ClientGroup">
					<option value="">-- Select Client Group --</option>
					{{#each terms.clientGroup}}
						<option value="{{slug}}">{{term}}</option>
					{{/each}}
				</select>
			</div>
		</div>
		<div style="margin-top:15px;">
<div class="mw-opportunities-times hide table-responsive">
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Mon</th>
				<th>Tue</th>
				<th>Wed</th>
				<th>Thu</th>
				<th>Fri</th>
				<th>Sat</th>
				<th>Sun</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Morning</th>
				<td><input type="checkbox" data-bind="Times" value="mondayMorning"></td>
				<td><input type="checkbox" data-bind="Times" value="tuesdayMorning"></td>
				<td><input type="checkbox" data-bind="Times" value="wednesdayMorning"></td>
				<td><input type="checkbox" data-bind="Times" value="thursdayMorning"></td>
				<td><input type="checkbox" data-bind="Times" value="fridayMorning"></td>
				<td><input type="checkbox" data-bind="Times" value="saturdayMorning"></td>
				<td><input type="checkbox" data-bind="Times" value="sundayMorning"></td>
			</tr>
			<tr>
				<th>Afternoon</th>
				<td><input type="checkbox" data-bind="Times" value="mondayAfternoon"></td>
				<td><input type="checkbox" data-bind="Times" value="tuesdayAfternoon"></td>
				<td><input type="checkbox" data-bind="Times" value="wednesdayAfternoon"></td>
				<td><input type="checkbox" data-bind="Times" value="thursdayAfternoon"></td>
				<td><input type="checkbox" data-bind="Times" value="fridayAfternoon"></td>
				<td><input type="checkbox" data-bind="Times" value="saturdayAfternoon"></td>
				<td><input type="checkbox" data-bind="Times" value="sundayAfternoon"></td>
			</tr>
			<tr>
				<th>Evening</th>
				<td><input type="checkbox" data-bind="Times" value="mondayEvening"></td>
				<td><input type="checkbox" data-bind="Times" value="tuesdayEvening"></td>
				<td><input type="checkbox" data-bind="Times" value="wednesdayEvening"></td>
				<td><input type="checkbox" data-bind="Times" value="thursdayEvening"></td>
				<td><input type="checkbox" data-bind="Times" value="fridayEvening"></td>
				<td><input type="checkbox" data-bind="Times" value="saturdayEvening"></td>
				<td><input type="checkbox" data-bind="Times" value="sundayEvening"></td>
			</tr>
		</tbody>
	</table>
</div>
</div>
<hr />
<div class="form-group text-right">
	<button type="button" class="btn btn-default" id="mw-opportunities-show-hide-opening-times">
				Show/Hide Opening Times
				<span class="caret"></span>
			</button>
	<button type="button" class="btn btn-warning" id="mw-opportunities-reset-search">
				Reset Search
			</button>
	<button type="button" class="btn btn-primary" id="mw-opportunities-search" data-submit="true">
				Search
			</button>
</div>
</div>
</div>
<div class="mw-results"></div>
<div class="clearfix"></div>