<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Voluntary Organisations Search
		</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-8">
				<div class="form-group">
					<label for="mw-organisations-query" class="control-label">Query or Organisation name: </label>
					<input type="text" id="mw-organisations-query" class="form-control" data-bind="QueryString" />
				</div>
			</div>
			<div class="col-sm-4">
				<label for="mw-organisations-activity" class="control-label">Activities</label>
				<select id="mw-organisations-activity" class="form-control" data-bind="Activity">
					<option value="">-- Select Activity --</option>
					{{#each terms.mainActivitiesGlobal}}
						<option value="{{slug}}">{{term}}</option>
					{{/each}}
				</select>
			</div>
		</div>
		<hr />
		<div class="form-group text-right">
			<button type="button" class="btn btn-warning" id="mw-organisations-reset-search">
				Reset Search
			</button>
			<button type="button" class="btn btn-primary" id="mw-organisations-search" data-submit="true">
				Search
			</button>
		</div>
	</div>
</div>
<div class="mw-results"></div>
<div class="clearfix"></div>