<div class="mw-opportunities-search">
	<div class="row">
		<div class="col-sm-12 col-xs-12">
			<div class="form-group">
				<label for="mw-opportunities-query" class="control-label">Search: </label>
				<input type="text" id="mw-opportunities-query" class="form-control" data-query placeholder="Search keywords" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12">
			<label for="mw-opportunities-activity" class="control-label">Activities</label>
			<select id="mw-opportunities-activity" class="form-control" data-term="work_type-slugs">
				<option value="">All activities</option>
				{{#each terms.work_type}}
				<option value="{{slug}}">{{term}}</option>
				{{/each}}
			</select>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<label for="mw-opportunities-client-group" class="control-label">Client groups</label>
			<select id="mw-opportunities-client-group" class="form-control" data-term="client_group-slugs">
				<option value="">All client groups</option>
				{{#each terms.client_group}}
				<option value="{{slug}}">{{term}}</option>
				{{/each}}
			</select>
		</div>
        <div class="col-md-4 col-sm-12 col-xs-12">
			<div class="form-group">
				<label for="mw-opportunities-distance" class="control-label">Near postcode: </label>
				<input type="text" id="mw-opportunities-user-postcode" class="form-control" data-geo="coords" placeholder="Enter a postcode" />
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-sm-6 col-xs-12 opening-times">
    		<button type="button" class="btn btn-default" data-show-hide-toggle="#mw-opportunities-times">
    			<span class="mw-show-hide-text">Show/hide</span>
    			Opening times
    			<i class="fa fa-fw fa-eye mw-show-hide-icon"></i>
    		</button>
    		<div class="mw-opportunities-times table-responsive" id="mw-opportunities-times">
    			<table class="table table-condensed">
    				<thead>
    					<tr>
    						<th></th>
    						<th>Mon</th>
    						<th>Tue</th>
    						<th>Wed</th>
    						<th>Thu</th>
    						<th>Fri</th>
    						<th>Sat</th>
    						<th>Sun</th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr>
    						<th>Morning</th>
    						<td><input type="checkbox" data-term="monday_morning"></td>
    						<td><input type="checkbox" data-term="tuesday_morning"></td>
    						<td><input type="checkbox" data-term="wednesday_morning"></td>
    						<td><input type="checkbox" data-term="thursday_morning"></td>
    						<td><input type="checkbox" data-term="friday_morning"></td>
    						<td><input type="checkbox" data-term="saturday_morning"></td>
    						<td><input type="checkbox" data-term="sunday_morning"></td>
    					</tr>
    					<tr>
    						<th>Afternoon</th>
    						<td><input type="checkbox" data-term="monday_afternoon"></td>
    						<td><input type="checkbox" data-term="tuesday_afternoon"></td>
    						<td><input type="checkbox" data-term="wednesday_afternoon"></td>
    						<td><input type="checkbox" data-term="thursday_afternoon"></td>
    						<td><input type="checkbox" data-term="friday_afternoon"></td>
    						<td><input type="checkbox" data-term="saturday_afternoon"></td>
    						<td><input type="checkbox" data-term="sunday_afternoon"></td>
    					</tr>
    					<tr>
    						<th>Evening</th>
    						<td><input type="checkbox" data-term="monday_evening"></td>
    						<td><input type="checkbox" data-term="tuesday_evening"></td>
    						<td><input type="checkbox" data-term="wednesday_evening"></td>
    						<td><input type="checkbox" data-term="thursday_evening"></td>
    						<td><input type="checkbox" data-term="friday_evening"></td>
    						<td><input type="checkbox" data-term="saturday_evening"></td>
    						<td><input type="checkbox" data-term="sunday_evening"></td>
    					</tr>
    				</tbody>
    			</table>
    		</div>
        </div>
	</div>
</div>
