@font-face {
    font-family: 'goodhq';
    src: url("https://widgets.goodhq.org/fonts/goodhq.eot");
    src: url("https://widgets.goodhq.org/fonts/goodhq.eot?#iefix") format("embedded-opentype"), url("https://widgets.goodhq.org/goodhq.woff") format("woff"), url("https://widgets.goodhq.org/fonts/goodhq.ttf") format("truetype"), url("https://widgets.goodhq.org/fonts/goodhq.svg#goodhq") format("svg");
    font-weight: normal;
    font-style: normal;
}
