.mw-search-widget {
    @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/code";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pager";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/labels";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/badges";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/wells";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

    padding: 0;
    background-color: #ffffff;

    .hidden {
        display: none;
    }
    .mw-search-widget-inner,
    .mw-search-widget-detail {
        padding: 0;
    }
    .opening-times {
        margin-top: 15px;
    }
    .btn-primary {
        padding: 6px 24px;
    }
    .btn:focus,
    .btn, select, input {
        outline: none;
    }

    a {
        text-decoration-skip: ink;
    }
    b,strong,h2,h3,h4,th {
        font-weight: 600;
    }
    h3, .h3 {
        margin: 0 0 0.5rem;
        font-size: 1.3rem;
    }
    h4, .h4 {
        font-size: 1.2rem;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .row.mw-document-nav,
    .row.mw-paging,
    .row .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .dl-horizontal dt, .dl-horizontal dd {
        line-height: 1.5em;
        vertical-align: middle;
    }
    .dl-horizontal dt {
        font-weight: 600;
        text-align: left;
        width: 200px;
    }
    .dl-horizontal dd {
        margin-left: 200px;
    }
    .mw-navigation {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    .mw-map {
        width: 100%;
        height: 400px;
    }
    .mw-body h3 {
        margin: 15px 0 10px;
    }
    .mw-body .list-inline {
        margin-bottom: 4px;
    }
    .input-group-addon {
        border-left: 0;
        border-right: 0;
    }
    .form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    table th {
        text-align: center;
    }

    input[type=checkbox] {
        display: inline-block;
        -webkit-appearance: checkbox;
        appearance: checkbox;
    }

    @media screen and (max-width: 767px) {
        .dl-horizontal dt {
            width: 100%;
        }
        .dl-horizontal dd {
            margin-left: 0;
        }
        .mw-document-nav,
        .mw-paging {
            .text-left {
                float: left;
            }
            .text-right {
                float: right;
            }
        }
        table.table-condensed {
            margin-bottom: 0;
            border-top: 0;
            thead, tbody {
                float: left;
            }
            thead {
                width: 20%;
                tr {
                    width: 100%;
                    margin-top: 15px;
                    th {
                        font-size: 0.97rem;
                        text-align: left;
                        border-width: 1px;
                    }
                    th:last-child {
                        border-bottom: none;
                    }
                }
            }
            tbody {
                width: 80%;
                tr {
                    width: 33.33%;
                    th {
                        font-size: 0.7rem;
                        text-align: center;
                        border-top: none;
                    }
                    td {
                        text-align: center;
                    }
                }
            }
            tr {
                display: block;
                float: left;
            }
            th, td {
                display: block;
            }
        }
        .opening-times .btn {
            width: 100%;
        }
        .mw-search-button {
            margin-top: 15px;
            width: 100%;
        }
    }
}
#mw-opportunities-organisation-widget .mw-search-widget-inner {
    display: none;
}
