.milo-widget{
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/code";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pager";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/labels";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/badges";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/wells";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
    @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

    .mw-emoji{
        display: inline-block;
        font-size: 1.5em;
        width: 1.5em;
        line-height: 1.5em;
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
    }

    .btn .mw-emoji.left{
        text-align: left;
    }

    .btn .mw-emoji.right{
        text-align: left;
    }

    .dl-horizontal dt, .dl-horizontal dd{
        line-height:1.5em;
        vertical-align:middle;
    }

    .dl-horizontal dt {
        text-align: left;
    }

    .dl-horizontal dd {
        padding-top: 0.25em;
    }

    h1 span.mw-emoji.pull-right, h2 span.mw-emoji.pull-right, h3 span.mw-emoji.pull-right, h4 span.mw-emoji.pull-right {
        margin-top: -0.5em;
    }
}