<div class="form-group row">
    <label for="mw-organisations-query" class="col-sm-2 control-label">Organisation name:</label>
    <div class="col-sm-10">
        <input type="text" id="mw-organisations-query" class="form-control" data-query />
    </div>
</div>
