<h3>How to embed the widget</h3>
<p>Please use the following code to embed the Milo widget for <strong>{{name}}</strong> volunteering opportunities on your own website:</p>
<div class="embed copyable" id="embed">&lt;script src="https://milo.scvo.org/opportunities-organisation.bundle.js" data-org="{{registeredCharityNo}}" data-hide-map="true"</span>&gt;&lt;/script&gt;</div>
<button class="btn btn-sm copy" data-source="embed" unselectable="on"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy</button>
