<div class="mw-organisations-search">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="mw-organisations-query" class="control-label">Search: </label>
                <input type="text" id="mw-organisations-query" class="form-control" placeholder="Search keywords or organisation name" data-query />
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label for="mw-organisations-activity" class="control-label">Activity: </label>
            <select id="mw-organisations-activity" class="form-control" data-term="main_activities_global-slugs">
                <option value="">All activities</option>
                {{#each terms.main_activities_global}}
                <option value="{{slug}}">{{term}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="mw-organisations-distance" class="control-label">Near postcode: </label>
                <input type="text" id="mw-organisations-user-postcode" class="form-control" placeholder="Enter a postcode (optional)" data-geo="coords" />
            </div>
        </div>
    </div>
</div>
