<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <a [routerLink]="['/']">
                    Milo Search Widgets
                </a>
            </div>
            <div class="col-sm-2">
                <a href="http://scvo.org">
                    <img src="/app/assets/images/logos/scvo-logo.png" />
                </a>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <p>
                    SCVO provides a data management and reporting platform (Milo) that is used by Scotland's Third Sector Interfaces (TSIs).
                    <br />
                    Milo is funded by the Scottish Government.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <p><small>&copy; 2017. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation. Registration number <a href="http://www.oscr.org.uk/charities/search-scottish-charity-register/charity-details?number=SC003558">SC003558</a>.</small></p>
            </div>
            <div class="col-sm-2">
                <a class="brand-logo" href="http://scvo.org">
                    <img src="/app/assets/images/logos/scvo-logo.png">
                </a>
            </div>
        </div>
    </div>
</footer>
