<div class="body-content">
    <h2>
        Milo search widget builder
    </h2>
    <p>
        Please choose a widget type and optional location filter
    </p>

    <form class="form-horizontal">
        <div class="form-group row">
            <label for="type" class="col-sm-2 control-label">
                Widget type
            </label>
            <div class="col-sm-10">
                <select name="type" [(ngModel)]="type" class="form-control">
                    <option value="" disabled="disabled" selected="selected">Please select a widget type</option>
                    <optgroup label="Live Widgets">
                        <option value="opportunities">Volunteering opportunities search</option>
                        <option value="organisations">Organisations search</option>
                    </optgroup>
                    <optgroup label="Test Widgets">
                        <option value="opportunities-test">Volunteering opportunities search (test)</option>
                        <option value="organisations-test">Organisations search (test)</option>
                    </optgroup>
                </select>
            </div>
        </div>

        <div class="form-group row" *ngIf="type">
            <label for="type" class="col-sm-2 control-label">
                Search filter
            </label>
            <div class="col-sm-10">
                <select name="filter" [(ngModel)]="filter" class="form-control">
                    <option value="">All of Scotland (no filter)</option>
                    <option value="1">Aberdeen City</option>
                    <option value="2">Aberdeenshire</option>
                    <option value="3">Angus</option>
                    <option value="4">Argyll and Bute</option>
                    <option value="5">Clackmannanshire</option>
                    <option value="6">Dumfries and Galloway</option>
                    <option value="7">Dundee City</option>
                    <option value="8">East Ayrshire</option>
                    <option value="9">East Dunbartonshire</option>
                    <option value="10">East Lothian</option>
                    <option value="11">East Renfrewshire</option>
                    <option value="12">Edinburgh City</option>
                    <option value="13">Falkirk</option>
                    <option value="14">Fife</option>
                    <option value="15">Glasgow City</option>
                    <option value="16">Highland</option>
                    <option value="17">Inverclyde</option>
                    <option value="18">Midlothian</option>
                    <option value="19">Moray</option>
                    <option value="32">Na h-Eileanan Siar (Western Isles)</option>
                    <option value="20">North Ayrshire</option>
                    <option value="21">North Lanarkshire</option>
                    <option value="22">Orkney Islands</option>
                    <option value="23">Perth and Kinross</option>
                    <option value="24">Renfrewshire</option>
                    <option value="25">Scottish Borders</option>
                    <option value="26">Shetland Islands</option>
                    <option value="27">South Ayrshire</option>
                    <option value="28">South Lanarkshire</option>
                    <option value="29">Stirling</option>
                    <option value="30">West Dunbartonshire</option>
                    <option value="31">West Lothian</option>
                </select>
            </div>
        </div>

        <div class="form-group row" *ngIf="type">
            <label class="col-sm-2 control-label">
                Options
            </label>
            <div class="col-sm-2">
                <div class="checkbox">
                    <label>
                        <input [(ngModel)]="hideTitle" name="hideTitle" type="checkbox" data-toggle="toggle"> Hide title
                    </label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="checkbox">
                    <label>
                        <input [(ngModel)]="hideMap" name="hideMap" type="checkbox" data-toggle="toggle"> Hide map
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="body-content" *ngIf="type">
    <h3>How to embed the widget</h3>
    <p>Please use the following code to embed the specified Milo search widget on your own website:</p>
    <div class="embed copyable" id="embed">&lt;script src="https://milo.scvo.org/{{type}}.bundle.js"<span *ngIf="filter"> data-tsi="{{filter}}"</span> data-hide-title="{{hideTitle}}" data-hide-map="{{hideMap}}"&gt;&lt;/script&gt;</div>
    <button class="btn btn-sm copy" data-source="embed" unselectable="on"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy</button>

    <h3>Preview</h3>
    <preview [type]="type" [filter]="filter" [hideMap]="hideMap" [hideTitle]="hideTitle"></preview>
</div>
