<div class="body-content">
    <h2>
        GoodHQ widget builder
    </h2>
    <p>
        Please choose a widget type and set an xid
    </p>

    <form class="form-horizontal">
        <div class="form-group row">
            <label for="xid" class="col-sm-2 control-label">
                Organisation xid
            </label>
            <div class="col-sm-10">
                <input name="xid" [(ngModel)]="xid" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label for="style" class="col-sm-2 control-label">
                Widget style
            </label>
            <div class="col-sm-10">
                <select name="style" [(ngModel)]="style" class="form-control">
                    <option value="" disabled="disabled" selected="selected">Please select a widget style</option>
                    <option value="basic">Basic</option>
                    <option value="advanced">Advanced</option>
                </select>
            </div>
        </div>
    </form>
</div>

<div class="body-content" *ngIf="style && xid">
    <h3>How to embed the widget</h3>
    <p>Please use the following code to embed the specified GoodHQ widget on your own website:</p>
    <div class="embed copyable" id="embed">&lt;script src="https://widgets.goodhq.org/goodhq.bundle.js" data-xid="{{xid}}" data-widget-style="{{style}}"&gt;&lt;/script&gt;</div>
    <button class="btn btn-sm copy" data-source="embed" unselectable="on"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy</button>

    <h3>Preview</h3>
    <preview [type]="'goodhq'" [style]="style" [xid]="xid"></preview>
</div>
