<div class="body-content">
    <h2>
        Goodmoves widget builder
    </h2>

    <form class="form-horizontal">
        <div class="form-group row">
            <label for="number" class="col-sm-3 control-label">
                How many jobs to show
            </label>
            <div class="col-sm-9">
                <input name="number" [(ngModel)]="number" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label for="style" class="col-sm-3 control-label">
                Widget style
            </label>
            <div class="col-sm-9">
                <select name="style" [(ngModel)]="style" class="form-control">
                    <option value="" disabled="disabled" selected="selected">Please select a widget style</option>
                    <option value="basic">Basic</option>
                    <option value="advanced" disabled>Advanced</option>
                </select>
            </div>
        </div>
    </form>
</div>

<div class="body-content" *ngIf="style && xid">
    <h3>How to embed the widget</h3>
    <p>Please use the following code to embed the specified goodmoves widget on your own website:</p>
    <div class="embed copyable" id="embed">&lt;script src="https://widgets.goodmoves.com/goodmoves.bundle.js" data-number="{{number}}" data-widget-style="{{style}}"&gt;&lt;/script&gt;</div>
    <button class="btn btn-sm copy" data-source="embed" unselectable="on"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy</button>

    <h3>Preview</h3>
    <preview [type]="'goodmoves'" [style]="style" [number]="number"></preview>
</div>
