<div class="panel-goodmoves">
    <a href="https://goodmoves.com">
        <img src="https://widgets.goodmoves.com/app/assets/images/logos/goodmoves-logo.png" alt="Goodmoves - charity and voluntary sector recruitment" />
    </a>
    {{#compare total '==' 0}}
    <div class="alert alert-warning">
        <p>Couldn't find any jobs currently posted on <strong>good</strong>moves</p>
    </div>
    {{/compare}}
    <ul>
        {{#each results}}
            {{#compare @index '<' 3}}
            <li class="mw-goodmoves-result mw-goodmoves-result-{{Id}} click-node item item-{{add @index 1}}{{#compare @index '==' 2}} last{{/compare}} click-node-active">
                {{{this.search_result_widget}}}
            </li>
            {{/compare}}
        {{/each}}
    </ul>
</div>
