<div class="panel-tfn">
    <div class="widget-header">
        <div class="row">
            <div class="col s9">
                <a class="ir" href="http://thirdforcenews.org.uk/" target="_blank"></a>
                <a href="http://thirdforcenews.org.uk/" target="_blank">thirdforcenews.org.uk</a>
                <a href="http://thirdforcenews.org.uk/signup" target="_blank">Subscribe to TFN</a>
            </div>
            <div class="col s3">
                <ul class="socialmedia">
                    <li class="twitter">
                        <a href="https://twitter.com/ThirdForceNews" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                    </li>
                    <li class="facebook">
                        <a href="https://www.facebook.com/ThirdForceNews" target="_blank"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{#compare total '==' 0}}
    <div class="alert alert-warning">
        <p>Error loading news posts</p>
    </div>
    {{/compare}}
    <ul>
        {{#each results}}
            {{#compare @index '<' 3}}
            <li class="mw-tfn-result mw-tfn-result-{{Id}} item item-{{add @index 1}}{{#compare @index '==' 2}} last{{/compare}}">
                {{{this.rendered.search_result_widget}}}
            </li>
            {{/compare}}
        {{/each}}
    </ul>
    <div class="widget-footer">
        <a href="http://thirdforcenews.org.uk/tfn-news">Read all the latest news from TFN</a>
    </div>
</div>
